
#contact {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.67);!important 
  
}
/* Target the header element */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
}

/* Target the navigation links */
nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}


section{
  
  padding: 10px 5px 10px 5px;!important
}
#contact h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#contact label {
  font-size: 18px;
  margin-bottom: 10px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

#contact textarea {
  height: 150px;
  resize: none;
}

#contact button[type="submit"] {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.mycontacts {

  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  columns: 3;
  column-gap: 40px;
  background-color: orange;
  padding: 10px 5px 10px 5px;
  
 
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
}


